:root {
  --border-radius-sm: 8px;
  --border-radius-bg: 16px;
  --yellow: rgb(228, 255, 107);
  --green: #a5c45c;
  --earth: #5c4033;
  --sky: #4682b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  user-select: none;
  position: relative;
  background-color: var(--sky);
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  overflow: hidden;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  white-space: nowrap;

  z-index: 1;
  height: fit-content;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #a5c45c;
  justify-content: space-between;
  width: 100vw;
}
.right-header {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 12px;
}
#score {
  white-space: nowrap;
  width: 150px;
  height: 50px;
}
#logout {
  white-space: nowrap;

  min-width: 120px;
  height: 50px;
}
.header-text {
  padding: 8px;
  margin-inline: 3%;
  font-size: 1.2rem;
}
.button-shape {
  border-radius: var(--border-radius-sm);
  background-color: var(--yellow);
  width: fit-content;
  padding: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: var(--earth);
  z-index: 1;
}

.obstacle {
  position: absolute;
  height: 100vh;
  top: -200px;
  width: 50px;
  right: -50px;
}

.obstacle-upper {
  position: absolute;
  height: 600px;
  width: 50px;
  background-color: green;
}

.obstacle-lower {
  position: absolute;
  top: 800px;
  height: 600px;
  width: 50px;
  background-color: green;
}

#bird {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  top: 50vh;
  left: 7vh;
}
